---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import InfoColumns from '../components/InfoColumns.astro';
import VideosReel from '../components/VideosReel.astro';
import BandaSection from '../components/BandaSection.astro';
import ValuesSection from '../components/ValuesSection.astro';
import Contrataciones from '../components/Contrataciones.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <InfoColumns />
    <VideosReel />
    <BandaSection />
    <ValuesSection />
    <Contrataciones />
  </main>
  <Footer />
</Layout>
